@charset "UTF-8";
@font-face {
  font-family: "Hello";
  src: url("../font/Hello.woff") format("woff");
}
.hero {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
@media screen and (min-width: 740px) {
  .hero {
    justify-content: flex-end;
  }
}
.hero__img {
  background-color: #425085;
  position: absolute;
  background-image: url(../img/fotohero.jpg);
  background-attachment: fixed;
  background-size: cover;
  top: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 740px) {
  .hero__img {
    background-position: 20% 20%;
    left: 0;
    width: 70%;
  }
}
.hero__article {
  padding: 0 20px;
  text-align: center;
  color: white;
  z-index: 1;
  padding-bottom: 100px;
}
@media screen and (min-width: 740px) {
  .hero__article {
    padding: 0;
    padding-bottom: 150px;
    color: #2f3739;
    text-align: start;
    width: 50%;
  }
}
.hero__title {
  font-size: 40px;
  mix-blend-mode: difference;
}
@media screen and (min-width: 740px) {
  .hero__title {
    font-size: 65px;
  }
}
.hero__subtitle {
  color: white;
  font-family: "Hello";
  font-size: 30px;
  margin: 20px 0 30px 0;
}
.hero__button {
  text-decoration: none;
  color: #ffffff;
  background-color: #b5ce68;
  padding: 10px 25px;
  border-radius: 20px;
}
@media screen and (min-width: 740px) {
  .hero__button {
    color: #ffffff;
    background-color: #b5ce68;
  }
}

.shop {
  padding: 50px 0;
}
.shop__ul {
  margin: 0 auto;
  gap: 25px;
  display: grid;
  width: 100%;
  padding: 0 10px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
@media screen and (min-width: 740px) {
  .shop__ul {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
}
.shop__li {
  position: relative;
  margin: 0 auto;
  text-decoration: none;
  background-color: #425081;
  width: 150px;
  height: 180px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  justify-content: flex-end;
}
@media screen and (min-width: 740px) {
  .shop__li {
    width: 200px;
    height: 250px;
    margin: 0px auto;
  }
}
.shop__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center center;
  background-size: cover;
  z-index: 1;
}
.shop__article {
  width: 100%;
  background-color: rgba(93, 93, 93, 0.5);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 10px;
}
.shop__title {
  text-align: start;
  font-size: 14px;
  color: white;
}
.shop__ray {
  width: 60px;
  height: 1px;
  background-color: white;
  margin: 5px 0 10px 0;
}
.shop__price {
  color: #425081;
  font-family: "Hello";
  color: white;
}
.shop__btn {
  margin-top: 5px;
  border: none;
  text-decoration: none;
  color: white;
  background-color: #2f3739;
  border: 1px solid white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.shop__btn:hover {
  transform: translateX(5px) scale(1.3);
  background-color: rgba(255, 255, 255, 0.592);
  border: 2px solid #ffffff;
}
.shop__btn:hover .hero_btn-icon {
  color: #2f3739;
}

.buttonopen {
  cursor: pointer;
  z-index: 2;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 113px;
  height: 92px;
  border-top-left-radius: 293px;
  background-color: #2f3739;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
  border-left: 5px solid white;
  padding: 0 25px 20px 0;
}
.buttonopen:hover {
  transform: scale(110%);
  transition: all 0.5s;
}
@media screen and (min-width: 740px) {
  .buttonopen {
    padding: 0 15px 30px 0;
    width: 162px;
    height: 139px;
    border-top-left-radius: 245px;
  }
}
.buttonopen__icon {
  font-size: 30px;
  display: block;
}
.buttonopen__icon:hover {
  transform: translateY(-5px); /* Mueve el elemento 5px hacia arriba */
  transition: transform 0.3s;
  font-size: 40px;
}
@media screen and (min-width: 740px) {
  .buttonopen__icon {
    width: 47px;
    display: block;
    margin-bottom: 9px;
    margin-right: 30px;
  }
}

.buy {
  width: 100%;
  display: none;
  position: fixed;
  z-index: 5;
  padding: 5px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.61);
  overflow: auto;
}
@media screen and (min-width: 740px) {
  .buy {
    padding: 20px;
  }
}
.buy__close {
  background-color: rgba(0, 0, 0, 0.563);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  color: white;
  margin-bottom: 30px;
  position: absolute;
  right: 15px;
  top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (min-width: 740px) {
  .buy__close {
    right: 30px;
    top: 30px;
    width: 50px;
    height: 50px;
  }
}
.buy__close:hover {
  transition: all 0.3s;
  border: 1px solid black;
  background-color: white;
  color: rgb(0, 0, 0);
}
.buy__title {
  font-size: 18px;
  font-family: "Hello";
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 740px) {
  .buy__title {
    font-size: 30px;
  }
}
.buy__table {
  background-color: rgba(255, 255, 255, 0.82);
  width: 100%;
  margin: 150px auto 0 auto;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  max-width: 800px;
  border-collapse: collapse;
}
@media screen and (min-width: 740px) {
  .buy__table {
    width: 90%;
    margin: 100px auto 0 auto;
  }
}
.buy__thead {
  background-color: rgb(47, 55, 57);
  padding: 0px;
  height: 60px;
  display: flex;
  align-items: end;
}
.buy__tbody {
  width: 100%;
}
.buy__fila {
  padding: 0 10px;
  width: 100%;
  border-bottom: 1px solid rgba(196, 196, 196, 0.5607843137);
  display: grid;
  grid-template-columns: 30% 20% 30% 20%;
  align-items: center;
}
@media screen and (min-width: 740px) {
  .buy__fila {
    grid-template-columns: 40% 20% 20% 20%;
  }
}
.buy__colum-total {
  text-align: end;
}
.buy__fila-total {
  padding: 10px 0;
  width: 85%;
  border-bottom: 1px solid rgba(196, 196, 196, 0.5607843137);
  display: grid;
  grid-template-columns: 84% 10%;
  align-items: center;
}
@media screen and (min-width: 740px) {
  .buy__fila-total {
    width: 100%;
  }
}
.buy__total-text {
  font-weight: bold;
  font-size: 30px;
  text-align: end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: rgb(47, 55, 57);
}
.buy__total-price {
  margin-left: 10px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: rgb(13, 13, 12);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
}
@media screen and (min-width: 740px) {
  .buy__total-price {
    height: 70px;
    width: 70px;
  }
}
.buy__colum-one {
  font-weight: bold;
}
.buy__colum-three {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy__span {
  margin: 0 5px;
}
.buy__btn {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc; /* Borde gris */
  border-radius: 50%; /* Borde redondo */
  background-color: rgb(47, 55, 57);
  color: white;
  font-weight: bold;
  width: 30px;
  height: 30px;
  font-size: 12px;
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

td {
  border: none;
  padding: 10px 0;
  font-size: 14px;
}
@media screen and (min-width: 740px) {
  td {
    padding: 8px;
    font-size: 20px;
  }
}

.footer {
  background-color: #2f3739;
  height: 50vh;
}/*# sourceMappingURL=main.css.map */